:root{
    --fs-small: 1rem;
    --fs-md1: 16px;
    --fs-md2: 16px;
    --fs-lg: 1.63rem;
    --fs-xl: 2.04rem;
    --fs-xxl: 2.45rem;
    --fs-xxxl: 4.08rem;
    --Color-main: white;
    --Color-pink:	#ffc2c7;
    --Color-purple: rgb(169, 191, 228)	;
    --Color-purple-opacity: rgba(169, 191, 228, 0.3)	;
    --Color-purple-name-descr:	#989EC3;
    --Color-dark:	#351F21;
    --ff-Lora: "Lora", serif;
    --ff-Sans: "Source Sans 3", sans-serif;
    --fc-section1: #351F21;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    background-color: var(--Color-purple);
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
}
div.header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 86%;
}

img[name='logo']{
    width: 136.5px;
    height: 55px;
    margin-top: 8px;
}
header span.menu-list{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
header a + span > a{
    display: inline-block;
    list-style-type: none;
    margin-top: 30px;
} 
header a+ span >a{
    text-decoration: none;
    color: var(--Color-main);
    font-family: "Lora", serif;
    font-size: var(--fs-md2);
    font-weight: 700;
    height: 35%;
    border-bottom: 1px rgba(0,0,0,0) solid;
    transition: 0.3s;
}
header span.menu-list > a:hover{
    border-bottom-color: var(--Color-main);
}

header span > img[name='lupa']{
    margin-right: 15px;
}
header ul + span{
    display: inline;
    justify-content: unset;
}
header img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.main-page{
    display: flex;
    justify-content:space-between;
    margin-left: 7%;
    width: 100%;
    margin-top: 140px;
    margin-bottom: 200px;
}

img[alt="web-background"]{
    position: absolute;
    right: 0px;
}

.section1{
    position: relative;
}

.section1 > h1{
    margin-top: 114px;
    font-size: var(--fs-xxl);
    font-family: var(--ff-Lora);
    font-weight: 400;
    line-height: calc(35px*1.3);
    width: 500px;
    height: 64px;
    margin-bottom: 40px;
    color: var(--fc-section1);
}

.section1 > p{
    width: 325px;
    font-family: var(--ff-Sans);
    font-size: 20px;
    color: var(--fc-section1);
    font-weight: 400;
    line-height: calc(18px*1.29);
    margin-bottom: 30px;
}

button{
    background-color: #A9BFE4;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-right: 12px;
    background-color: var(--Color-pink);
    color: var(--Color-main);
    font-family: var(--ff-Sans);
    font-weight: 600;
    font-size: 20px;
    width: 170px;
    height: 45px;
    transition: 0.3s;
}

.button1{
    border: 3px var(--Color-pink) solid;
    background-color: var(--Color-main);
    color:  var(--Color-purple-name-descr);
    box-shadow: none;
}

.section1 button:first-child:hover{
    background-color: var(--Color-purple);
    color: var(--Color-main);
}

.section1 button:last-child:hover{
    border-color: var(--Color-purple-name-descr);
    color: var(--Color-pink);
}

.about-us > span.options{
    display: flex;
    justify-content: center;
}
.about-us > span.options > span{
    width: 210px;
    height: 145px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    background-position: center center;
    background-size: cover;
    justify-content: center;
    display: flex;
    padding-top: 105px;
}
.bouquets{
    background-image: url('./images/section2/bouquets.jpg');
}
.natural-flowers{
    background-image: url('./images/section2/natural_flowers.jpg');
}
.own-bouquet{
    background-image: url('./images/section2/own_bouquet.png');
}

.about-us > span button{
    width: 130px;
    height: 30px;
    background-color: var(--Color-purple);
    color: var(--Color-main);
    font-family: var(--ff-Lora);
    font-size: var(--fs-md2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-weight: 400;
    border-radius: 0;
    margin: 0;
}

.about-us > span button:hover{
    font-weight: 700;
    transform: scale(110%,110%);
}

hr{
    border: 1px solid var(--Color-pink);
    width: 0;
    height: 25px;
    margin-top: 5px;
    position: absolute;
}

.below-options{
    display: flex;
    justify-content:space-between;
    margin-left: 7%;
    width: 100%;
}

.about-us .description{
    margin-top: 46px;
    display: block;
}

.about-us h2{
    font-family: var(--ff-Lora);
    font-size: var(--fs-xxl);
    color: var(--fc-section1);
    font-weight: 400;
    margin-bottom: 18px;
}

.about-us p{
    font-family: var(--ff-Sans);
    font-weight: 400;
    font-size: 18px;
    width: 350px;
    margin-bottom: 8px;
    margin-left: 14px;
    position: relative;
    line-height: calc(18px*1.29);
}

.side-imgs{
    margin-top: 120px;
    display: flex;
}

.side-imgs img[alt='abstract-figure']{
    width: 500px;
    height: 270px;
    color: var(--Color-purple-name-descr);
    position: absolute;
}

.side-imgs img[alt='women']{
    margin-top: 40px;
    width: 348px;
    height: 190px;
    right: 20px;
    position: relative;
}

span.social-media{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-right: 170px;
}

span.social-media > img{
    width: 20px;
    height: 22px;
    position: relative;
    margin-bottom: 14px;
}
span.social-media > img[src="./images/section2/viber.png"]{
    width: 24px;
    height: 25px;
    margin-left: -2px;
}
.our-functions{
    height: auto;
    background-color: var(--Color-purple-opacity);
    display: flex;
}
.container1{
    margin: 0 auto;
    width: 86%;
}
.our-functions h2{
    font-size: 18px;
    font-family: var(--ff-Lora);
    margin-top: 10px;
    color: var(--Color-purple-name-descr);
}

.our-functions .container{
    display: flex;
    justify-content: space-between;
}

.our-functions .container p{
    font-family: var(--ff-Sans);
    font-size: var(--fs-md1);
    color: var(--Color-dark);
    text-align: center;
    margin-top: 0;
}

.our-functions .container img{
    width: 62px;
    height: 55px;
    margin-bottom: 0;
}

.our-functions .container > span:not(span.header){
    margin-top: 20px;
    width: 180px;
    display:grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 10px;
}


section.catalog h2{
    margin-top: 48px;
    font-family: var(--ff-Lora);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

section.catalog div.content > span{
    width: 200px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 0px var(--Color-pink);
    text-align: center;
    padding-bottom: 10px;
    margin-right: 100px;
}

section.catalog .content{
    /* display: flex;
    justify-content: space-between;
    overflow: auto; */
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1 1;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
}

section.catalog .container1{
    display: block;
}

section.catalog div.content > img{
    width: 100%;
    height: 65%;
    padding-bottom: 10px;
}

section.catalog button{
    width: 75%;
    margin: 0 auto;
    height: 35px;
    font-size: 16px;
}
